In [46]:
# import the package sciencedirectFlatFileParse
from sciencedirectFlatFileParse import SD_FF_parse

# get 4 types xml files
fulltext_XML = r".\FourTypeSampleXML\full-text.xml"
headandtail_XML = r".\FourTypeSampleXML\head-and-tail.xml"
headonly_XML = r".\FourTypeSampleXML\head-only.xml"
contentsEntryOnly_xml = r".\FourTypeSampleXML\CONTENTS-ENTRY-ONLY.xml"

## initiate Parser from the package

In [47]:
Parser = SD_FF_parse()

# Full Text

In [48]:
Parser.get_xmlType(fulltext_XML)

'FULL-TEXT'

In [49]:
Parser.parse_source_info(fulltext_XML)

,JournalTitle,JournalID,Issn,Volumn,Firstpage,Lastpage
0,Perspectives in Ecology and Conservation,PECON,2530-0644,19,121,130

In [50]:
Parser.parse_article_coreinfo(fulltext_XML)

,PublicationDate,Doi,Pii,Eid,DocumentType,DocumentSubType,OpenAccess,License,FirstAuthorSurname,FirstAuthorInitial,ArticleID,copyright,Title,keywords,graphical_abstract,author_highlights,author_abstract
0,April–June 2021,10.1016/j.pecon.2021.03.003,S2530-0644(21)00028-6,1-s2.0-S2530064421000286,article,rev,True,This is an open access article under the CC BY...,FONSECA,C,181,Associação Brasileira de Ciência Ecológica e C...,Conservation biology: four decades of problem-...,Biological invasion ; Climate change ; Habitat...,pii:S2530064421000286/fx1,•Conservation biology literature is dominated ...,Conservation biology is designed to identify p...

In [51]:
Parser.parse_authors_info(fulltext_XML)

,given_name,surname,email,affiliations
0,Carlos Roberto,Fonseca,fonseca.crsd@gmail.com,"[Departamento de Ecologia, Universidade Federa..."
1,Gustavo B.,Paterno,None,"[Departamento de Ecologia, Universidade Federa..."
2,Demétrio L.,Guadagnin,None,"[Departamento de Ecologia, Universidade Federa..."
3,Eduardo M.,Venticinque,None,"[Departamento de Ecologia, Universidade Federa..."
4,Gerhard E.,Overbeck,None,"[Departamento de Botânica, Universidade Federa..."
5,Gislene,Ganade,None,"[Departamento de Ecologia, Universidade Federa..."
6,Jean Paul,Metzger,None,"[Departamento de Ecologia, Universidade de São..."
7,Johannes,Kollmann,None,"[Department of Life Science Systems, School of..."
8,Johannes,Sauer,None,"[Department of Life Science Systems, School of..."
9,Márcio Zikán,Cardoso,None,"[Departamento de Ecologia, Universidade Federa..."
10,Priscila F.M.,Lopes,None,"[Departamento de Ecologia, Universidade Federa..."
11,Rafael S.,Oliveira,None,"[Departamento de Biologia Vegetal, Universidad..."
12,Valério D.,Pillar,None,"[Departamento de Ecologia, Universidade Federa..."
13,Wolfgang W.,Weisser,None,"[Department of Life Science Systems, School of..."

In [52]:
Parser.parse_figures_info(fulltext_XML)

,id,label,caption,link
0,fig0005,Fig. 1,Frequency of solution-based research (black ba...,pii:S2530064421000286/gr1
1,fig0010,Fig. 2,Logistic regression analyses showing the proba...,pii:S2530064421000286/gr2
2,fig0015,Fig. 3,Relative use of the word <i>solution</i> and <...,pii:S2530064421000286/gr3
3,fig0020,None,None,pii:S2530064421000286/fx1

In [53]:
Parser.parse_tables_info(fulltext_XML)

[{'id': 'tbl0005',
  'label': 'Table 1',
  'caption': 'Illustrative examples of problem- or solution-based conservation research addressing five biodiversity loss drivers.',
  'headers': [['Biodiversity loss driver', 'Problem-based', 'Solution-based']],
  'rows': [['Habitat loss',
    'Estimate rates of habitat lossEvaluate alternative landscape metricsDescribe population declinesRecord species extinction',
    'Plan sustainable landscapesEstablish corridors for connectivityTest agroforestry modelsRestore ecosystems'],
   [''],
   ['Biological invasion',
    'Estimate invasive potentialEvaluate susceptibility to invasionPredict areas to be invadedEvaluate impact on communities and ecosystems',
    'Establish prevention agreementsControl invasive populationsIncrement community resilienceMitigate effects'],
   [''],
   ['Overexploitation',
    'Describe population declineEvaluate by-catchEstimate cascading effectsPredict extinction risk',
    'Implement population managementEstablish social agreementsTest market economic toolsDe-extinction'],
   [''],
   ['Pollution',
    'Describe pollutant concentrationEvaluate effect on physiologyEvaluate community alterationDescribe bio-magnification',
    'Test phytoremediation measuresPromote pollutant stabilizationPromote pollutant extractionStimulate degradation or volatilization'],
   [''],
   ['Climate change',
    'Predict climate alterationsPredict changes in species distributionDescribe population declinePredict alterations in ecosystem services',
    'Evaluate effects of agreementsEstablish migration corridorsPromote carbon captureEstablish adaptation measures']]},
 {'id': 'tbl0010',
  'label': 'Table 2',
  'caption': 'Temporal trend on the probability of solution-based papers along four decades of the conservation biology literature and its biodiversity loss drivers. The slopes (β) and their standard error (SE), effect size (z), and associated probability (P) were produced by logistic regression assuming solution-based papers as 1 and problem-based papers as 0.',
  'headers': [['Research field', 'β', 'SE', 'z', 'p']],
  'rows': [['Conservation biology', '0.0179', '0.0091', '1.98', '0.048'],
   ['Drivers'],
   ['Overexploitation', '0.0374', '0.0183', '2.04', '0.041'],
   ['Habitat loss and fragmentation', '0.0356', '0.0195', '1.83', '0.068'],
   ['Biological invasion', '0.0318', '0.0233', '1.36', '0.173'],
   ['Pollution', '−0.0112', '0.0180', '0.63', '0.532'],
   ['Climate change', '0.0069', '0.0301', '0.23', '0.820']]}]

In [54]:
Parser.parse_references_info(fulltext_XML)

,label,authors,title,journal,year,pages
0,"Aizen and Feinsinger, 1994","[M.A. Aizen, P. Feinsinger]","Forest fragmentation, pollination, and plant r...",Ecology,1994,330-351
1,"Andersson and Bodin, 2009","[E. Andersson, O. Bodin]",Practical tool for landscape planning? An empi...,Ecography,2009,123132-
2,"Balmford, 2017",[A. Balmford],On positive shifting baselines and the importa...,Oryx,2017,191-192
3,"Balmford and Knowlton, 2017","[A. Balmford, N. Knowlton]",Why Earth Optimism?,Science,2017,225-
4,"Beever, 2000",[E. Beever],Diversity: the roles of optimism in conservati...,Conserv. Biol.,2000,907-909
...,...,...,...,...,...,...
80,"Wang et al., 2014","[X.L. Wang, F.G. Blanchet, N. Koper]",Measuring habitat fragmentation: an evaluation...,Methods Ecol. Evol.,2014,634-646
81,"Weisser et al., 2017","[W.W. Weisser, C. Roscher, S.T. Meyer, A. Ebel...",Biodiversity effects on ecosystem functioning ...,Basic Appl. Ecol.,2017,1-73
82,"Williams et al., 2020","[D.R. Williams, A. Balmford, D.S. Wilcove]",The past and future role of conservation scien...,Ecol. Lett.,2020,None
83,"Wilson, 1988",[E.O. Wilson],Biodiversity,None,1988,None
84,"Young, 2000",[T.P. Young],Restoration ecology and conservation biology,Biol. Conserv.,2000,73-83

In [55]:
Parser.parse_allAttachment_info(fulltext_XML)

,eid,url,filename,filetype,filesize,attachment_type
0,1-s2.0-S2530064421000286-fx1.jpg,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,fx1.jpg,jpg,10057,IMAGE-DOWNSAMPLED
1,1-s2.0-S2530064421000286-gr1.jpg,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,gr1.jpg,jpg,16080,IMAGE-DOWNSAMPLED
2,1-s2.0-S2530064421000286-gr2.jpg,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,gr2.jpg,jpg,95200,IMAGE-DOWNSAMPLED
3,1-s2.0-S2530064421000286-gr3.jpg,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,gr3.jpg,jpg,91951,IMAGE-DOWNSAMPLED
4,1-s2.0-S2530064421000286-fx1.sml,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,fx1.sml,sml,4832,IMAGE-THUMBNAIL
5,1-s2.0-S2530064421000286-gr1.sml,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,gr1.sml,sml,7339,IMAGE-THUMBNAIL
6,1-s2.0-S2530064421000286-gr2.sml,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,gr2.sml,sml,9309,IMAGE-THUMBNAIL
7,1-s2.0-S2530064421000286-gr3.sml,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,gr3.sml,sml,4821,IMAGE-THUMBNAIL
8,1-s2.0-S2530064421000286-mmc1.docx,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,mmc1.docx,docx,582093,APPLICATION
9,1-s2.0-S2530064421000286-am.pdf,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,am.pdf,pdf,1164704,AAM-PDF

In [56]:
Parser.parse_webfulltextPDF(fulltext_XML)

,eid,url,filename,filetype,filesize
0,1-s2.0-S2530064421000286-main.pdf,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,main.pdf,pdf,1876833

In [57]:
Parser.parse_webfulltextIMG(fulltext_XML)

,eid,url,filename,filetype,filesize
0,1-s2.0-S2530064421000286-main_1.png,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,main_1.png,png,52999

In [58]:
Parser.parse_fundings_info(fulltext_XML)

,agency,funding_id,agency_acronym,funding-agency,funding-agency-id,funding-agency-country
0,European Commission,None,EC,European Commission,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/6695072/
1,International Union for Conservation of Nature,None,None,None,None,None
2,Deutscher Akademischer Austauschdienst,54417975,DAAD,Deutscher Akademischer Austauschdienst,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/2921044/
3,PROEXT,None,None,None,None,None
4,Deutsche Forschungsgemeinschaft,None,DFG,Deutsche Forschungsgemeinschaft,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/2921044/
5,Coordenação de Aperfeiçoamento de Pessoal de N...,WE 3081/20,CAPES,Coordenação de Aperfeiçoamento de Pessoal de N...,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/3469034/
6,Conselho Nacional de Desenvolvimento Científic...,None,CNPq,Conselho Nacional de Desenvolvimento Científic...,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/3469034/
7,Horizon 2020 Framework Programme,None,H2020,Horizon 2020 Framework Programme,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/6695072/
8,Universidade Federal do Rio Grande do Norte,None,UFRN,Universidade Federal do Rio Grande do Norte,http://data.elsevier.com/vocabulary/SciValFund...,http://sws.geonames.org/3469034/

In [59]:
Parser.parse_fulltext_info(fulltext_XML)

,id,label,title,paragraphs,subsections
0,sec0005,None,Introduction,[Conservation biology has contributed to the u...,"[{'id': 'sec1005', 'label': None, 'title': 'Th..."
1,sec1005,None,The problem-based conservation agenda,[Problem-based research is widespread in the c...,[]
2,sec0020,None,The solution-based conservation agenda,[Solution-based conservation research also add...,[]
3,sec0010,None,Methods,[],"[{'id': 'sec0015', 'label': None, 'title': 'Cl..."
4,sec0015,None,Classification of papers as solution-based and...,[We performed a literature search within the S...,[]
5,sec0030,None,The use of the words ‘solution’ and ‘problem’,[We performed a simple quantitative discourse ...,[]
6,sec0035,None,Results,[],"[{'id': 'sec0040', 'label': None, 'title': 'So..."
7,sec0040,None,Solution- or problem-based research: a quantit...,[Only a quarter of the 561 randomly selected c...,[]
8,sec0045,None,The relative use of solution and problem,"[Between 1980 and 2019, 1978 articles employed...",[]
9,sec0050,None,Discussion,"[In the past four decades, conservation biolog...","[{'id': 'sec0055', 'label': None, 'title': 'Th..."
10,sec0055,None,The maturation of conservation biology,"[During most of human history, individuals wou...",[]
11,sec0060,None,Promoting solution-based research,"[We posit that in order to be more effective, ...",[]
12,sec0065,None,Concluding remarks,"[In the year 2020, the COVID-19 crisis unequiv...",[]
13,sec0080,None,Conflicts of interest,[None declared.],[]
14,sec0070,Appendix A,Supplementary data,[Supplementary material related to this articl...,[]
15,sec0075,Appendix A,Supplementary data,[The following are supplementary data to this ...,[]

# Head and tail

In [60]:
Parser.get_xmlType(headandtail_XML)

'HEAD-AND-TAIL'

In [61]:
Parser.parse_source_info(headandtail_XML)

  JournalTitle JournalID       Issn Volumn Firstpage Lastpage
0   The Lancet    LANCET  0140-6736    177       281      282

In [62]:
Parser.parse_article_coreinfo(headandtail_XML)

,PublicationDate,Doi,Pii,Eid,DocumentType,DocumentSubType,OpenAccess,License,FirstAuthorSurname,FirstAuthorInitial,ArticleID,copyright,Title,keywords,graphical_abstract,author_highlights,author_abstract
0,28 January 1911,10.1016/S0140-6736(00)50924-6,S0140-6736(00)50924-6,1-s2.0-S0140673600509246,converted-article,cor,False,,,,00509246,None,"Originally published as Volume 1, Issue 4561",,None,None,None

In [63]:
Parser.parse_authors_info(headandtail_XML)

Empty DataFrame
Columns: []
Index: []

In [64]:
Parser.parse_figures_info(headandtail_XML)

Empty DataFrame
Columns: []
Index: []

In [65]:
Parser.parse_tables_info(headandtail_XML)

[]

In [66]:
Parser.parse_references_info(headandtail_XML)

Empty DataFrame
Columns: []
Index: []

In [67]:
Parser.parse_allAttachment_info(headandtail_XML)

Empty DataFrame
Columns: []
Index: []

In [68]:
Parser.parse_webfulltextPDF(headandtail_XML)

,eid,url,filename,filetype,filesize
0,1-s2.0-S0140673600509246-main.pdf,https://s3.amazonaws.com/prod-ucs-content-stor...,main.pdf,pdf,375479

In [69]:
Parser.parse_webfulltextIMG(headandtail_XML)

,eid,url,filename,filetype,filesize
0,1-s2.0-S0140673600509246-main_1.png,https://s3.amazonaws.com/prod-ucs-content-stor...,main_1.png,png,113227

In [70]:
Parser.parse_fundings_info(headandtail_XML)

Empty DataFrame
Columns: []
Index: []

In [71]:
Parser.parse_fulltext_info(headandtail_XML)

                                            raw_text
0  The Lancet Notes, Short Comments, and Answers ...

# Head Only

In [72]:
Parser.get_xmlType(headonly_XML)

'HEAD-ONLY'

In [73]:
Parser.parse_source_info(headonly_XML)

,JournalTitle,JournalID,Issn,Volumn,Firstpage,Lastpage
0,"Oral Surgery, Oral Medicine, Oral Pathology an...",OOOO,2212-4403,129,e79,e80

In [74]:
Parser.parse_article_coreinfo(headonly_XML)

,PublicationDate,Doi,Pii,Eid,DocumentType,DocumentSubType,OpenAccess,License,FirstAuthorSurname,FirstAuthorInitial,ArticleID,copyright,Title,keywords,graphical_abstract,author_highlights,author_abstract
0,January 2020,10.1016/j.oooo.2019.06.322,S2212-4403(19)30871-5,1-s2.0-S2212440319308715,simple-article,abs,False,,ANTUNES,F,4184.308,None,MAJOR APHTHOUS ULCERATIONS ASSOCIATED WITH SIC...,,None,None,An 18-year-old white woman was referred to our...

In [75]:
Parser.parse_authors_info(headonly_XML)

,given_name,surname,email,affiliations
0,FLAVIO LUCENA,ANTUNES,None,[]
1,PAULO EDUARDO ALENCAR,DE SOUZA,None,[]
2,GIOVANNA RIBEIRO,SOUTO,None,[]
3,HELENICE,DE ANDRADE MARIGO GRANDINETTI,None,[]
4,MARTINHO CAMPOLINA REBELLO,HORTA,None,[]
5,SORAYA,DE MATTOS CAMARGO GROSSMANN,None,[]

In [76]:
Parser.parse_figures_info(headonly_XML)

Empty DataFrame
Columns: []
Index: []

In [77]:
Parser.parse_tables_info(headonly_XML)

[]

In [78]:
Parser.parse_references_info(headonly_XML)

Empty DataFrame
Columns: []
Index: []

In [79]:
Parser.parse_allAttachment_info(headonly_XML)

Empty DataFrame
Columns: []
Index: []

In [80]:
Parser.parse_webfulltextPDF(headonly_XML)

,eid,url,filename,filetype,filesize
0,1-s2.0-S2212440319308715-main.pdf,https://s3.amazonaws.com/prod-ucs-content-stor...,main.pdf,pdf,48333

In [81]:
Parser.parse_webfulltextIMG(headonly_XML)

,eid,url,filename,filetype,filesize
0,1-s2.0-S2212440319308715-main_1.png,https://s3.amazonaws.com/prod-ucs-content-stor...,main_1.png,png,85717

In [82]:
Parser.parse_fundings_info(headonly_XML)

Empty DataFrame
Columns: []
Index: []

In [83]:
Parser.parse_fulltext_info(headonly_XML)

                                            raw_text
0  attern with lastic cells. ntraosseous enting o...

# Contents Entry Only

In [84]:
Parser.get_xmlType(contentsEntryOnly_xml)

'CONTENTS-ENTRY-ONLY'

In [85]:
Parser.parse_source_info(contentsEntryOnly_xml)

         JournalTitle JournalID       Issn Volumn Firstpage Lastpage
0  Clinical Nutrition     YCLNU  0261-5614      4        94

In [86]:
Parser.parse_article_coreinfo(contentsEntryOnly_xml)

,PublicationDate,Doi,Pii,Eid,DocumentType,DocumentSubType,OpenAccess,License,FirstAuthorSurname,FirstAuthorInitial,ArticleID,copyright,Title,keywords,graphical_abstract,author_highlights,author_abstract
0,1985,10.1016/0261-5614(85)90183-9,0261-5614(85)90183-9,1-s2.0-0261561485901839,converted-article,abs,False,,,,85901839,None,7th ESPEN Congress,,None,None,None

In [87]:
Parser.parse_authors_info(contentsEntryOnly_xml)

Empty DataFrame
Columns: []
Index: []

In [88]:
Parser.parse_figures_info(contentsEntryOnly_xml)

Empty DataFrame
Columns: []
Index: []

In [89]:
Parser.parse_tables_info(contentsEntryOnly_xml)

[]

In [90]:
Parser.parse_references_info(contentsEntryOnly_xml)

Empty DataFrame
Columns: []
Index: []

In [91]:
Parser.parse_allAttachment_info(contentsEntryOnly_xml)

,eid,url,filename,filetype,filesize,attachment_type
0,1-s2.0-0261561485901839-si1.gif,https://s3.amazonaws.com/prod-ucs-content-stor...,si1.gif,gif,463,ALTIMG

In [92]:
Parser.parse_webfulltextPDF(contentsEntryOnly_xml)

,eid,url,filename,filetype,filesize
0,1-s2.0-0261561485901839-main.pdf,https://s3.amazonaws.com/prod-ucs-content-stor...,main.pdf,pdf,92063

In [93]:
Parser.parse_webfulltextIMG(contentsEntryOnly_xml)

,eid,url,filename,filetype,filesize
0,1-s2.0-0261561485901839-main_1.png,https://s3-eu-west-1.amazonaws.com/prod-ucs-co...,main_1.png,png,79357

In [94]:
Parser.parse_fundings_info(contentsEntryOnly_xml)

Empty DataFrame
Columns: []
Index: []

In [95]:
Parser.parse_fulltext_info(contentsEntryOnly_xml)

                                            raw_text
0  0.127 APPLICATIONS OF STABLE ISOTOPES AND MASS...